	<table class="table table-bordered conversions" data-table="conversions">
		<thead>
			<tr>
				<th>id</th>
				<th>campaign</th>
				<th>source</th>
				<th>medium</th>
				<th>content</th>
				<th>date time</th>
				<th>referral ad</th>
				<th>sale price</th>
				<th>qty</th>
				<th>discount</th>
				<th>tax</th>
				<th>currency</th>
				<th>delete</th>
				<th>edit</th>
			</tr>
		</thead>
		<tbody data-hbsinjection="table">
          <tr>
          	<td colspan=7><span>Loading...</span></td>
          </tr>

			{{dataTable}}

			{{_debug dataTable}}
		</tbody>
	</table>	